body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orelo-sw-bi', serif;
  background: #000;
}

.carousel {
  width: 100%;
  cursor: grab;
  
  &.dragging {
    cursor: grabbing;
  }

  &--wrap {
    white-space: nowrap;
  }

  &--item {
    display: inline-block;
    width: 30vw;
    padding: 3vw;
    user-select: none;

    figure {
      position: relative;
      z-index: 1;
      display: block;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;

      img {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
        transform-origin: center;
      }
    }
